.header-container {
  max-width: 72rem;
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  vertical-align: middle;
  position: relative;
}

.logo {
  height: 70px;
}

.searchBar {
  width: 24rem;
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.navLinks-container {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.navLinks {
  background-color: #313131;
  color: rgb(243 244 246);
}

.btnLeft {
  width: 2rem;
  height: 2rem;
  background-color: rgb(243 244 246);
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border: none;
}

.btnRight {
  width: 2rem;
  height: 2rem;
  background-color: rgb(107 114 128);
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border: none;
}
