.MyWork {
  max-width: 72rem;
  margin: 0 auto;
  width: 90%;
}

.MyWorkHeading {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  color: #4d4d4d;
  padding-top: 2rem;
  margin-top: 0;
}
