.profile-container {
  height: 516px;
  background-color: #4d4d4d;
  display: flex;
  flex-direction: column;
}

.ProfileHeading {
  color: rgb(243 244 246);
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.CardContainer {
  max-width: 72rem;
  margin: 0 auto;
  width: 90%;
  height: 422px;
  display: flex;
  background: rgb(44, 95, 45);
  background: linear-gradient(
    180deg,
    rgba(44, 95, 45, 1) 0%,
    rgba(29, 66, 29, 1) 100%
  );
  margin-top: auto;
  padding-top: 4rem;
  justify-content: space-around;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.ProfilePic {
  height: 317px;
  width: 285px;
  background-color: black;
}

.InfoContainer {
  width: 50%;
}

.Name {
  color: rgb(243 244 246);
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.Info {
  color: rgb(243 244 246);
  font-size: 1.125rem;
  line-height: 1.75rem;
}
